@charset "utf-8";
/* header{
  padding: 3%;
} */
.logo-area img{
  display: block;
  height: 30px;
}
.containar{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 200px;
}
.choice{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navi{
  display: flex;
}
ul{
  list-style: none;
}
ul a{
  text-decoration: none;
}
.contact {
   width: 200px;
   height: 80px;
   line-height: 80px;
   background-color: #000;
   color: #fff;
   display: inline-block;
   text-align: center;
}
.mv img{
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 900px;
  object-fit: cover;
}
/* @media screen and (max-width: 900px) {
    #header .contact {
        display: none;
    }
  } */
  a:hover{
  opacity: 0.7;
  }